apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: template-mcp-server

resources:
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - route.yaml

labels:
  - pairs:
      app: template-mcp-server
      component: mcp-server
    includeSelectors: true
