name: Pre-commit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: "3.12"

jobs:
  pre-commit:
    name: Pre Commit
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "latest"

    - name: Set up virtual env
      run: uv venv --python ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run: |
        uv pip install -e ".[dev]"

    - name: Run Pre Commit
      run: |
        source .venv/bin/activate && pre-commit run --all-files
